@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap");

html {
	background: #e4e2e0;
	color: #2e2c2a;
	font-size: max(14px, min(24px, calc(25% + 2.5vh), calc(40% + 3vw)));
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	min-height: stretch;
}

body {
	text-align: center;
	font-family: "Encode Sans", sans-serif;
	font-size: 1rem;
	color: inherit;
	flex-grow: 1;
}

a {
	text-decoration: underline;
	display: inline-flex;
	min-height: 44px;
	min-width: 44px;
	align-items: center;
	justify-content: center;
	text-decoration-thickness: 0.09em !important;
	color: #1e6bb8;
}

@media (prefers-color-scheme: dark) {
	html {
		background: #1b1b1a;
		color: #d6d5d3;
	}
	a {
		color: #5ca0e4;
	}
}

header,
footer {
	display: none;
}

h1 {
	font-size: 1.25rem;
}

main {
	width: min(90%, 80rem);
	margin: auto;
	padding: 0.5em;
}

.photo {
	width: min(14rem, 100%, 451px);
	position: relative;
	margin: 1em auto;
}
.photo::before {
	content: "";
	display: block;
	padding-top: 100%;
}
.photo img {
	background: #2e2c2a;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}

ul {
	list-style: none;
	padding: 0;
	display: inline-flex;
	margin-top: 0;
	margin-left: -1em;
	flex-wrap: wrap;
	justify-content: center;
}
li {
	margin-left: 1em;
}
